body {
    background-color: lavender;
}

.pulsator {
    width: 90px;
    height: 90px;
    background-color: blue;
}

    .pulsator:hover {
        width: 120px;
        height: 60px;
        background-color: dodgerblue;
    }


.floater {
    position: absolute;
    left: 10px;
    top: 200px;
    background-color: transparent;
}
